@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 160px;
  }
  :root {
    --background: #f9f9f4;
    --foreground: #171717;
    --c-primary: 219 47% 47%;
    --c-alt: 40 100% 50%;
    --c-body: rgba(0, 0, 0, 0.8);
  }
}

@layer components {
  .main--heading-1 {
    @apply text-[2.5rem] font-bold capitalize md:text-[55px] md:leading-[1.4] md:-tracking-[0.02em];
  }
  .main--heading-2 {
    @apply text-2xl font-extrabold capitalize leading-tight md:text-[55px] md:font-bold md:leading-[1.4] md:-tracking-[0.02em];
  }

  .section-paragraph {
    @apply text-xl font-medium leading-8 text-black/80 md:text-[22px] md:leading-normal;
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    column-gap: 20px;
  }
  .embla__slide {
    flex: 0 0 100%;
    max-width: 305px;
    min-width: 0;
    position: relative;
  }
  .embla__slide--menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }

  .embla__slide--testimonial {
    transition: opacity 0.2s ease-in-out;
  }
  .embla__slide--testimonial:not(.is-snapped) {
    opacity: 0.5;
  }

  .map__overlay {
    background: linear-gradient(
      180deg,
      #f9f9f4 15%,
      rgba(255, 255, 255, 0.5) 15%
    );
  }
}
